<!--
OBS:
	Cadastrar requerimentos em eventos

Requisitos
	Pegar servidor->unidade->minimo de servidores por férias
 -->

<div id="content" ng-init="Data.tabs[$parent.tab.i].title='Gerenciar Requerimentos'">
	<div class="container">
		<div class="row">
			<div class="col-xs-11">
				<div class="page-header">
					<h2>Gerenciar Requerimentos<small><strong> - Área restrita</strong></small></h2>
				</div>
				<!-- Inputs -->
				<form role="form" class="ng-dirty ng-valid ng-valid-date" name="datepickerForm">
					<div class="row">
						<div class="col-xs-4">
							<label for="requerimento">Filtrar Requerimento</label>
							<select id="requerimento" name="requerimento" class="form-control">
								<option value="0">Selecione...</option>
								<option value="1">Aposentadoria por tempo de Serviço</option>
								<option value="2">Autorização p/ a formação profissional do funcionário, quando estudante</option>
								<option value="3">Autorizaão p/ afastamento para missão ou estudo fora do estado em outro ponto do país ou exterior</option>
								<option value="4">Autorização p/ afastamento por motivo de casamento</option>
								<option value="5">Auxilio funeral/doença</option>
								<option value="6">Cômputo de tempo de seviço</option>
								<option value="7">Coagem de férias em dobro</option>
								<option value="8">Contage de licença especial em dobro</option>
								<option value="9">Exoneração/dispensa</option>
								<option value="10">Licença por acidente no trabalho, agressão não provocada e doença profissional</option>
								<option value="11">Licença para tratamento de saúde em prorrogação</option>
								<option value="12">Férias</option>
								<option value="13">Licença por motivo de doença em pessoas da família</option>
								<option value="14">Licença do funcionário para acompanhar o cônjuge</option>
								<option value="15">Licença para o serviço militar obrigatório</option>
								<option value="16">Licença especial</option>
								<option value="17">Mudança de nome/retificação</option>
								<option value="18">Pagamento relativo a exercícios anteriores</option>
								<option value="19">Remoção</option>
								<option value="20">Recisão de contrato</option>
								<option value="21">Teor de título</option>
								<option value="22">Transferência de cargo</option>
								<option value="23">Quinquênio</option>
								<option value="24">Licença para tratamento de saúde</option>
							</select>
							<span class="help-block">&nbsp;</span>
						</div>
					</div>
					<div class="row">
						<div class="col-xa-4">
							<form name="datepickerForm" class="form-inline" role="form">
								<!-- Date range example -->
								<div class="form-group">
									<label class="control-label"> <i class="fa fa-calendar"></i> <i class="fa fa-arrows-h"></i> <i class="fa fa-calendar"></i> Informe um período de tempo<small></small></label>
									<br>
									<div class="form-group col-xs-3">
										<input type="text" class="form-control" ng-model="fromDate" data-date-format="dd/MM/yyyy"  placeholder="De" bs-datepicker>
									</div>
									<div class="form-group col-xs-3">
										<input type="text" class="form-control" ng-model="untilDate" data-date-format="dd/MM/yyyy"  placeholder="Até" bs-datepicker>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4">
							<label for="nome">Nome</label>
							<input type="text" id="nome" class="form-control" placeholder="Nome" title="Nome do servidor. Ex: Francisco Carlos" bs-tooltip>
						</div>
					</div>
					<span class="help-block">&nbsp;</span>
					<div class="row">
						<div class="col-xs-3">
							<label for="matricula">Matrícula</label>
							<input type="text" id="matricula" class="form-control" placeholder="Matrícula" title="Matricula do Servidor. Ex: 212357" bs-tooltip>
						</div>
						<div class="col-xs-3">
							<label for="cpf">CPF</label>
							<input type="text" id="cpf" class="form-control" placeholder="CPF" title="CPF do Servidor. Ex: 0210456897" bs-tooltip>
						</div>
					</div>
					<span class="help-block">&nbsp;</span>
					<div class="row">
						<div class="col-xs-2">
							<button type="button" class="btn btn-primary">
								Buscar
							</button>
							<span class="help-block">&nbsp;</span>
						</div>
					</div>
					<form role="form">
						<div class="alert alert-warning" role="alert">
							<strong>Ops!</strong> Nenhum registro encontrado.
						</div>
						<div class="row">
							<div class="col-xs-12">
								<table class="table table-bordered table-hover table-responsive">
									<thead>
										<tr>
											<th>#</th>
											<th>Nome</th>
											<th>Matrícula</th>
											<th>Secretaria/Órgão</th>
											<th>Unidade</th>
											<th>Tipo de requerimento</th>
											<th colspan="2" style="margin-left: 2px">Operações</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>1</td>
											<td>Francisco das Chagas</td>
											<td>15284</td>
											<td>Secretaria de Saúde</td>
											<td>Posto Sinobilina Peixoto</td>
											<td>Férias</td>
											<td>
											<button type="button" class="btn btn-small btn-warning" data-animation="am-fade-and-slide-top"
											data-template="views/exemplos/modal/modal.gerenciar_requerimento_editar.html" bs-modal='{"name":"Epidemiologia","Quantidade de Servidores ":"20","secretaria":"Secretaria da Saúde","unidade":"Unidade tal","cargo":"Professor","cargo_tp":"Tipo do Cargo"}'>
												<i class="glyphicon glyphicon-edit"></i>
											</button></td>
											<td>
											<button type="button" class="btn btn-small btn-info" data-animation="am-fade-and-slide-top"
											data-template="views/exemplos/modal/modal.gerenciar_requerimento.html" bs-modal='{"name":"Padre Cícero","cpf":"123.456.789-10","secretaria":"Secretaria da Educação","unidade":"Unidade tal","cargo":"Professor","cargo_tp":"Tipo do Cargo"}'>
												<i class="glyphicon glyphicon-search"></i>
											</button></td>
										</tr>
										<tr>
											<td>1</td>
											<td>Francisco das Chagas</td>
											<td>15284</td>
											<td>Secretaria de Saúde</td>
											<td>Posto Sinobilina Peixoto</td>
											<td>Férias</td>
											<td>
											<button type="button" class="btn btn-small btn-warning" data-animation="am-fade-and-slide-top"
											data-template="views/exemplos/modal/modal.config.qtdservidores.html" bs-modal='{"name":"Epidemiologia","Quantidade de Servidores ":"20","secretaria":"Secretaria da Saúde","unidade":"Unidade tal","cargo":"Professor","cargo_tp":"Tipo do Cargo"}'>
												<i class="glyphicon glyphicon-edit"></i>
											</button></td>
											<td>
											<button type="button" class="btn btn-small btn-info" data-animation="am-fade-and-slide-top"
											data-template="views/exemplos/modal/modal.gerenciar_requerimento.html" bs-modal='{"name":"Padre Cícero","cpf":"123.456.789-10","secretaria":"Secretaria da Educação","unidade":"Unidade tal","cargo":"Professor","cargo_tp":"Tipo do Cargo"}'>
												<i class="glyphicon glyphicon-search"></i>
											</button></td>
										</tr>
										<tr>
											<td>1</td>
											<td>Francisco das Chagas</td>
											<td>15284</td>
											<td>Secretaria de Saúde</td>
											<td>Posto Sinobilina Peixoto</td>
											<td>Férias</td>
											<td>
											<button type="button" class="btn btn-small btn-warning" data-animation="am-fade-and-slide-top"
											data-template="views/exemplos/modal/modal.config.qtdservidores.html" bs-modal='{"name":"Epidemiologia","Quantidade de Servidores ":"20","secretaria":"Secretaria da Saúde","unidade":"Unidade tal","cargo":"Professor","cargo_tp":"Tipo do Cargo"}'>
												<i class="glyphicon glyphicon-edit"></i>
											</button></td>
											<td>
											<button type="button" class="btn btn-small btn-info" data-animation="am-fade-and-slide-top"
											data-template="views/exemplos/modal/modal.gerenciar_requerimento.html" bs-modal='{"name":"Padre Cícero","cpf":"123.456.789-10","secretaria":"Secretaria da Educação","unidade":"Unidade tal","cargo":"Professor","cargo_tp":"Tipo do Cargo"}'>
												<i class="glyphicon glyphicon-search"></i>
											</button></td>
										</tr>
										<tr>
											<td>1</td>
											<td>Francisco das Chagas</td>
											<td>15284</td>
											<td>Secretaria de Saúde</td>
											<td>Posto Sinobilina Peixoto</td>
											<td>Férias</td>
											<td>
											<button type="button" class="btn btn-small btn-warning" data-animation="am-fade-and-slide-top"
											data-template="views/exemplos/modal/modal.config.qtdservidores.html" bs-modal='{"name":"Epidemiologia","Quantidade de Servidores ":"20","secretaria":"Secretaria da Saúde","unidade":"Unidade tal","cargo":"Professor","cargo_tp":"Tipo do Cargo"}'>
												<i class="glyphicon glyphicon-edit"></i>
											</button></td>
											<td>
											<button type="button" class="btn btn-small btn-info" data-animation="am-fade-and-slide-top"
											data-template="views/exemplos/modal/modal.gerenciar_requerimento.html" bs-modal='{"name":"Padre Cícero","cpf":"123.456.789-10","secretaria":"Secretaria da Educação","unidade":"Unidade tal","cargo":"Professor","cargo_tp":"Tipo do Cargo"}'>
												<i class="glyphicon glyphicon-search"></i>
											</button></td>
										</tr>
										<tr>
											<td>1</td>
											<td>Francisco das Chagas</td>
											<td>15284</td>
											<td>Secretaria de Saúde</td>
											<td>Posto Sinobilina Peixoto</td>
											<td>Férias</td>
											<td>
											<button type="button" class="btn btn-small btn-warning" data-animation="am-fade-and-slide-top"
											data-template="views/exemplos/modal/modal.config.qtdservidores.html" bs-modal='{"name":"Epidemiologia","Quantidade de Servidores ":"20","secretaria":"Secretaria da Saúde","unidade":"Unidade tal","cargo":"Professor","cargo_tp":"Tipo do Cargo"}'>
												<i class="glyphicon glyphicon-edit"></i>
											</button></td>
											<td>
											<button type="button" class="btn btn-small btn-info" data-animation="am-fade-and-slide-top"
											data-template="views/exemplos/modal/modal.gerenciar_requerimento.html" bs-modal='{"name":"Padre Cícero","cpf":"123.456.789-10","secretaria":"Secretaria da Educação","unidade":"Unidade tal","cargo":"Professor","cargo_tp":"Tipo do Cargo"}'>
												<i class="glyphicon glyphicon-search"></i>
											</button></td>
										</tr>
										<tr>
											<td>1</td>
											<td>Francisco das Chagas</td>
											<td>15284</td>
											<td>Secretaria de Saúde</td>
											<td>Posto Sinobilina Peixoto</td>
											<td>Férias</td>
											<td>
											<button type="button" class="btn btn-small btn-warning" data-animation="am-fade-and-slide-top"
											data-template="views/exemplos/modal/modal.config.qtdservidores.html" bs-modal='{"name":"Epidemiologia","Quantidade de Servidores ":"20","secretaria":"Secretaria da Saúde","unidade":"Unidade tal","cargo":"Professor","cargo_tp":"Tipo do Cargo"}'>
												<i class="glyphicon glyphicon-edit"></i>
											</button></td>
											<td>
											<button type="button" class="btn btn-small btn-info" data-animation="am-fade-and-slide-top"
											data-template="views/exemplos/modal/modal.gerenciar_requerimento.html" bs-modal='{"name":"Padre Cícero","cpf":"123.456.789-10","secretaria":"Secretaria da Educação","unidade":"Unidade tal","cargo":"Professor","cargo_tp":"Tipo do Cargo"}'>
												<i class="glyphicon glyphicon-search"></i>
											</button></td>
										</tr>
										<tr>
											<td>1</td>
											<td>Francisco das Chagas</td>
											<td>15284</td>
											<td>Secretaria de Saúde</td>
											<td>Posto Sinobilina Peixoto</td>
											<td>Férias</td>
											<td>
											<button type="button" class="btn btn-small btn-warning" data-animation="am-fade-and-slide-top"
											data-template="views/exemplos/modal/modal.config.qtdservidores.html" bs-modal='{"name":"Epidemiologia","Quantidade de Servidores ":"20","secretaria":"Secretaria da Saúde","unidade":"Unidade tal","cargo":"Professor","cargo_tp":"Tipo do Cargo"}'>
												<i class="glyphicon glyphicon-edit"></i>
											</button></td>
											<td>
											<button type="button" class="btn btn-small btn-info" data-animation="am-fade-and-slide-top"
											data-template="views/exemplos/modal/modal.gerenciar_requerimento.html" bs-modal='{"name":"Padre Cícero","cpf":"123.456.789-10","secretaria":"Secretaria da Educação","unidade":"Unidade tal","cargo":"Professor","cargo_tp":"Tipo do Cargo"}'>
												<i class="glyphicon glyphicon-search"></i>
											</button></td>
										</tr>
										<tr>
											<td>1</td>
											<td>Francisco das Chagas</td>
											<td>15284</td>
											<td>Secretaria de Saúde</td>
											<td>Posto Sinobilina Peixoto</td>
											<td>Férias</td>
											<td>
											<button type="button" class="btn btn-small btn-warning" data-animation="am-fade-and-slide-top"
											data-template="views/exemplos/modal/modal.config.qtdservidores.html" bs-modal='{"name":"Epidemiologia","Quantidade de Servidores ":"20","secretaria":"Secretaria da Saúde","unidade":"Unidade tal","cargo":"Professor","cargo_tp":"Tipo do Cargo"}'>
												<i class="glyphicon glyphicon-edit"></i>
											</button></td>
											<td>
											<button type="button" class="btn btn-small btn-info" data-animation="am-fade-and-slide-top"
											data-template="views/exemplos/modal/modal.gerenciar_requerimento.html" bs-modal='{"name":"Padre Cícero","cpf":"123.456.789-10","secretaria":"Secretaria da Educação","unidade":"Unidade tal","cargo":"Professor","cargo_tp":"Tipo do Cargo"}'>
												<i class="glyphicon glyphicon-search"></i>
											</button></td>
										</tr>
										<tr>
											<td>1</td>
											<td>Francisco das Chagas</td>
											<td>15284</td>
											<td>Secretaria de Saúde</td>
											<td>Posto Sinobilina Peixoto</td>
											<td>Férias</td>
											<td>
											<button type="button" class="btn btn-small btn-warning" data-animation="am-fade-and-slide-top"
											data-template="views/exemplos/modal/modal.config.qtdservidores.html" bs-modal='{"name":"Epidemiologia","Quantidade de Servidores ":"20","secretaria":"Secretaria da Saúde","unidade":"Unidade tal","cargo":"Professor","cargo_tp":"Tipo do Cargo"}'>
												<i class="glyphicon glyphicon-edit"></i>
											</button></td>
											<td>
											<button type="button" class="btn btn-small btn-info" data-animation="am-fade-and-slide-top"
											data-template="views/exemplos/modal/modal.gerenciar_requerimento.html" bs-modal='{"name":"Padre Cícero","cpf":"123.456.789-10","secretaria":"Secretaria da Educação","unidade":"Unidade tal","cargo":"Professor","cargo_tp":"Tipo do Cargo"}'>
												<i class="glyphicon glyphicon-search"></i>
											</button></td>
										</tr>
										<tr>
											<td>1</td>
											<td>Francisco das Chagas</td>
											<td>15284</td>
											<td>Secretaria de Saúde</td>
											<td>Posto Sinobilina Peixoto</td>
											<td>Férias</td>
											<td>
											<button type="button" class="btn btn-small btn-warning" data-animation="am-fade-and-slide-top"
											data-template="views/exemplos/modal/modal.config.qtdservidores.html" bs-modal='{"name":"Epidemiologia","Quantidade de Servidores ":"20","secretaria":"Secretaria da Saúde","unidade":"Unidade tal","cargo":"Professor","cargo_tp":"Tipo do Cargo"}'>
												<i class="glyphicon glyphicon-edit"></i>
											</button></td>
											<td>
											<button type="button" class="btn btn-small btn-info" data-animation="am-fade-and-slide-top"
											data-template="views/exemplos/modal/modal.gerenciar_requerimento.html" bs-modal='{"name":"Padre Cícero","cpf":"123.456.789-10","secretaria":"Secretaria de Saúde","unidade":"Unidade tal","cargo":"Professor","cargo_tp":"Tipo do Cargo"}'>
												<i class="glyphicon glyphicon-search"></i>
											</button></td>
										</tr>
									</tbody>
								</table>
								<strong>Mostrando 10 registro(s) de 126</strong>
							</div>

							<ul class="pagination">
								<li>
									<a href="#">&laquo;</a>
								</li>
								<li>
									<a href="#">1</a>
								</li>
								<li>
									<a href="#">2</a>
								</li>
								<li>
									<a href="#">3</a>
								</li>
								<li>
									<a href="#">4</a>
								</li>
								<li>
									<a href="#">5</a>
								</li>
								<li>
									<a href="#">&raquo;</a>
								</li>
							</ul>
						</div>
						<hr>
						<div align="right" class="footer"></div>
					</form><!-- Inputs -->
					<div align="right" class="footer">
						<!-- Button trigger modal -->
						<button type="button" class="btn btn-success">
							Enviar
						</button>
					</div>
					<hr>
				</form>
			</div><!-- col -->
		</div><!-- row -->
	</div><!-- container -->
</div><!-- content -->