<div ng-init="tab.title='Orgãos'"></div>
<div ng-init="tab.icon='glyphicon glyphicon-edit'"></div>
<div ng-init="edit=Data.edit({url:'model/Orgao', scope: tab}).load(tab.id)"></div>
<div ng-if="!tab.id" ng-init="tab.stat=2"></div>
<div ng-if="!tab.id" ng-init="edit.disabled=false"></div>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">

			<bs-alert type="danger" arr="edit.res.error">
				<strong>Ops!</strong> Erro ao tentar concluir a ação, corrija os erros mostrados a seguir e tente novamente ou contate o <a class="alert-link" href="http://caririweb.com/suport" target="_blank">suporte</a>.
			</bs-alert>

			<div class="alert alert-success" role="alert" ng-if="edit.res.ok">
				<strong>Ok!</strong> Dados gravados com sucesso.
			</div>

			<form>
				<div class="row">
					<bs-txt disabled="edit.disabled" class="col-md-6" md="edit.form.nome" label="Nome" >Nome</bs-txt>
					<bs-txt disabled="edit.disabled" class="col-md-3" md="edit.form.tel" label="Telefone" placeholder="(xx)xxxxxxxx">Informe o telefone</bs-txt>
					<bs-txt disabled="edit.disabled" class="col-md-3" md="edit.form.mail" label="Email" >Email</bs-txt>
				</div>
				<div class="row">
					<bs-txt disabled="edit.disabled" class="col-md-2" md="edit.form.end_cep" label="CEP" >
						<a href="http://www.buscacep.correios.com.br/"target="_blank"><small><u><i>Buscar CEP</i></u></small></a>
					</bs-txt>
					<bs-sel disabled="edit.disabled" class="col-md-2" md="edit.form.end_tipo" label="Tipo de logradouro:" opts="Data.CFG.SELECTS.TPS_LOGRADOURO"></bs-sel>
					<bs-txt disabled="edit.disabled" class="col-md-4" md="edit.form.end_logradouro" label="Logradouro" ></bs-txt>
					<bs-txt disabled="edit.disabled" class="col-md-3" md="edit.form.end_bairro" label="Bairro" ></bs-txt>
					<bs-txt disabled="edit.disabled" class="col-md-1" md="edit.form.end_numero" label="Número" >Número do endereço. Ex: S/N</bs-txt>
				</div>
				<hr>
				<bs-footer class="footer" align="right"></bs-footer>
			</form>

		</div>
	</div>
</div>